.milink{display: inline-block; width:122px; color:#FFF !important; text-decoration:none; padding-top:69px; min-height:30px; max-width:122px; margin-bottom:6px;}
.millave{ background:url(../img/llave.png) top center no-repeat;}
.miusado{ background:url(../img/usado.png) top center no-repeat;}
.miservicio{ background:url(../img/servicio.png) top center no-repeat;}
.mimail{ background:url(../img/mail.png) top center no-repeat;}
.micallcenter{ background:url(../img/callcenter.png) top center no-repeat;}
.mitelefono{ background:url(../img/telefono.png) top center no-repeat;}
.mimaps{ background:url(../img/maps.png) top center no-repeat;}