.milink{display: inline-block; width:122px; color:#FFF !important; text-decoration:none; padding-top:52px; min-height:30px; max-width:122px; margin-bottom:6px; font-size:14px !important;}
.milink2{display: inline-block; width:122px; color:#FFF !important; text-decoration:none; padding-top:52px; min-height:30px; max-width:122px; margin-bottom:16px; font-size:14px !important;}
.millave{ background:url(../img/llave2.png) top center no-repeat;}
.miusado{ background:url(../img/usado2.png) top center no-repeat;}
.miservicio{ background:url(../img/servicio2.png) top center no-repeat;}
.mimail{ background:url(../img/mail2.png) top center no-repeat;}
.micallcenter{ background:url(../img/callcenter2.png) top center no-repeat;}
.mitelefono{ background:url(../img/telefono2.png) top center no-repeat;}
.mimaps{ background:url(../img/maps2.png) top center no-repeat;}
.mialerta{ background:url(../img/alerta2.png) top center no-repeat;}