<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.trendmobile.autodrive"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Autodrive APP</name>

    <description>
        Aplicación movil de autodrive. 
    </description>

    <author href="https://www.trendtech.com.ar/mobile/proyecto/2/autodrive-app.html" email="soporte@trendtech.com.ar">
        Trendtech 
    </author>
	
	<preference name="orientation" value="portrait" />
	
	<preference name="fullscreen" value="true" />
	
	<preference name="show-splash-screen-spinner" value="false" />
	
	<icon src="img/icon.png" />

</widget>